[submodule "Plat4m_Core"]
	path = Plat4m_Core
	url = https://github.com/bminerd/Plat4m_Core.git
[submodule "Plat4m_Math"]
	path = Plat4m_Math
	url = https://github.com/bminerd/Plat4m_Math.git
[submodule "Plat4m_Controls"]
	path = Plat4m_Controls
	url = https://github.com/bminerd/Plat4m_Controls.git
[submodule "Eigen"]
	path = Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
